<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/models17.tutorial.uml2gui/transformations/uml2gui_fixed.atl"/>
<stringAttribute key="ATL VM" value="EMF-specific VM"/>
<stringAttribute key="ATL_COMPILER" value="atl2006"/>
<booleanAttribute key="IS_REFINING" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="CD"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<mapAttribute key="Model Handler">
<mapEntry key="CD" value="EMF"/>
<mapEntry key="GUI" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="CD" value="METAMODELINPUT"/>
<mapEntry key="GUI" value="METAMODELOUTPUT"/>
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="OUT" value="MODELOUTPUT"/>
</mapAttribute>
<mapAttribute key="Options">
<mapEntry key="OPTION_CLEAR" value="false"/>
<mapEntry key="OPTION_CONTENT_TYPE" value="false"/>
<mapEntry key="OPTION_DERIVED" value="true"/>
<mapEntry key="allowInterModelReferences" value="false"/>
<mapEntry key="printExecutionTime" value="false"/>
<mapEntry key="step" value="false"/>
<mapEntry key="supportUML2Stereotypes" value="false"/>
</mapAttribute>
<listAttribute key="OrderedInput">
<listEntry value="IN"/>
</listAttribute>
<listAttribute key="OrderedOutput">
<listEntry value="OUT"/>
</listAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="GUI"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="CD" value="uri:http://www.eclipse.org/uml2/5.0.0/UML"/>
<mapEntry key="GUI" value="/models17.tutorial.uml2gui/metamodels/gui.ecore"/>
<mapEntry key="IN" value="/models17.tutorial.uml2gui/models/PetStore.uml"/>
<mapEntry key="OUT" value="/models17.tutorial.uml2gui/outputs/PetStore_fixed.gui.xmi"/>
</mapAttribute>
<listAttribute key="Superimpose"/>
</launchConfiguration>
